@charset "UTF-8";
@use './sass/_reset' as *;
@use './sass/_base' as *;

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto/900.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'prismjs/themes/prism.css';



/**
* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
* ·······  Content
* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
.gogh-content {
    padding: 33px 0;
    min-height: 200vh;
    background-color: #e7e7e7;
    color: #595647;

    h2 {
        margin: 0 0 25px;
        color: #595647;
        text-align: center;
        font-weight: 700;
        font-size: 2.0rem;
        line-height: 1.2;

        @include m768 {
            text-align: left;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 1;
        }
    }

    h3 {
        font-size: 1.8rem;

        @include m768 {
            font-size: 2rem;
        }
    }

    h4 {
        font-size: 1.6rem;

        @include m768 {
            font-size: 1.8rem;
        }

        span {
            font-weight: 300;
            font-size: 1.4rem;
        }
    }

    p {
        margin: 0 0 30px;
        color: #595647;
        font-size: 1.2rem;
        line-height: 1.4;

        strong {
            font-weight: 900;
        }
    }
}


