@mixin media($min-width) {
    @media (min-width: $min-width) {
        @content;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.col {
    padding: 0.5rem;
    flex: 0 0 100%;
}

@media (min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 50%;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
    }
}

@media (min-width: 1200px) {
    .col-xl-6 {
        flex: 0 0 50%;
    }
}


.terminal {
    box-sizing: border-box;
    margin: 0 0 50px;
    box-shadow: 5px 5px 11px #737373, -5px -5px 11px #b1b1b1;
    animation: slideIn ease 0.4s forwards;

    .btn--terminal {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        cursor: pointer;
        border-radius: 100px;
        background-color: #000;
    }

    .btn--min {
        border: 1px solid #868686;
        background-color: #868686;
    }

    .btn--max {
        border: 1px solid #656565;
        background-color: #656565;
    }

    .btn--close {
        border: 1px solid #171717;
        background-color: #171717;
    }

    .cmd__cursor {
        animation: 1s blink step-end infinite;
    }

    .bar {
        position: relative;
        width: 100%;
        height: 25px;
        text-align: center;
        border-radius: 5px 5px 0 0;
        background-color: #d9d9d9;
        font-size: 0;

        .bar__title {
            position: absolute;
            top: 4px;
            right: 0;
            left: 0;
            margin: 0 auto;
            color: #424242;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;
        }

        .bar__btns {
            position: absolute;
            top: 7px;
            right: 10px;
        }
    }

    .body {
        box-sizing: border-box;
        padding: 30px;
        border: 1px solid #d9d9d9;
        border-radius: 0 0 5px 5px;
        position: relative;

        .body__txt {
            margin: 0 0 30px;
            display: none;

            @include media(576px) {
                display: block;
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 20px;
                line-height: 1.1;

                @include media(576px) {
                    font-size: 1.2rem;
                }

                @include media(768px) {
                    font-size: 1.4rem;
                }

                @include media(992px) {
                    font-size: 2rem;
                }

                @include media(1200px) {
                    font-size: 1.8rem;
                }

                span {
                    letter-spacing: 2px;
                    font-size: 16px;

                    @include media(576px) {
                        font-size: 11px;
                    }

                    @include media(600px) {
                        font-size: 12px;
                    }

                    @include media(768px) {
                        letter-spacing: 1px;
                        font-size: 12px;
                    }

                    @include media(992px) {
                        letter-spacing: 1.5px;
                        font-size: 13px;
                    }

                    @include media(1200px) {
                        font-size: 12px;
                    }

                    @include media(1400px) {
                        font-size: 14px;
                    }
                }
            }
        }

        .body__bar {
            font-size: 0;

            span {
                display: inline-block;
                width: 12.5%;
                height: 30px;
            }
        }

        .body__bar--bottom {
            margin: 0 0 30px;
        }
    }
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
