.theme-wrap {
    padding: 20px 15px 5px;
    border: 1px solid #cfd6dc;
    border-radius: 0;
    text-align: left;
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

.theme-header {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #595647;
    font-weight: 700;
}

.theme-background {
    font-size: 0.9em;
    color: #595647;
    margin-top: 5px;
    font-style: italic;

    .dot {
        margin-left: 10px;
        width: 40px;
        border-radius: 0;
        position: relative;
        top: 2px;
    }
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th,
td {
    padding: 2px 5px;
    border: 1px solid #d6dde3;
    text-align: center;
    font-size: 12px;
}

th {
    background-color: #edf2f6;
    font-weight: bold;
}

.data-color {
    text-align: left;
}

.data-hex {
    text-align: center;
    color: #595647;
}

.data-score {
    text-align: center;
    font-weight: bold;
    color: #595647;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.data-score.fail {
    color: red;
}

.data-ratio {
    text-align: right;
    color: #595647;
    font-size: 13px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid black;
}

.score-counts {
    margin-top: 15px;
    font-size: 0.9em;

    h3 {
        font-size: 18px;
        font-weight: 900;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
            font-size: 16px;
            color: #9a9a9a;

            span {
                font-weight: normal;
                color: #333;
            }
        }
    }
}
